.box {
  height: 90px;
  width: 250px;
  background: #ddd;
  margin: 13px 10px;
  margin-left: 30px;
  
}
.shimmer-container{
  background: grey;
         display: flex;
         width: 100%;
         position: relative;
         height: 100px;
         box-sizing: border-box;
         
}
@keyframes shimmer {
  from {transform: translateX(-230%);}
  to {transform: translateX(230%);}
}
.shimmer-div {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(120deg,
  rgba(255, 255, 0, 0.2) 30%,
  rgba(255, 255, 0, 0.2) 50%,
  rgba(255, 0, 255, 0.2) 80%);
  animation: shimmer 2s infinite linear;
}

.shimmer{
  height: 350 px;
  width: 150px;
  background-color: lightgray;
}
.product-img{
  height: 50px;
  width: 50px;
}
.title{
  font-size: 10px;
}
.product-list{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
 width: 100%;
}
.product-card{
  border: 2px solid aquamarine;
  
  height: 100px;
  width: 300px;
}

.header{
  border: 2px solid orange;
  display: flex;
  justify-content: space-around;
 
}
.header>li>ul{
 list-style-type: decimal;
}
.header-list{
  display: flex;
}
body{
  margin: 0px;
 box-sizing: border-box;
}
